* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background: #dedede;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-top: 200px;
}
.clubs-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px,auto);
	grid-gap: 1.01em;
	text-align: center;
	margin-top: 150px;
}
.clubs-container >div {
    background: #eee;
    padding: 0.5em;
}

.clubs-container >div:nth-child(odd) {
    background: #ddd;
}
.clubs-container .box1{
	display: grid;
	grid-row: 1;
	grid-column: 1/ span end;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.02em;
}
.clubs-container .box1 img{
    width: 100px;
    height: 100px;
}
.clubs-container .box1 .box1-1{
	grid-row: 1;
	grid-column: 1;
}
.clubs-container .box1 .box1-2{
	grid-row: 1;
	grid-column: 2/ span end;
}
.clubs-container .box1 .box1-2 blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.clubs-container .box1 .box1-2 blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.clubs-container .box1 .box1-2 blockquote p {
    display: inline;
}
.clubs-container .box2{
	grid-row: 2;
	grid-column: 1/ span end;
}
.clubs-container .box3{
	grid-row: 3;
	grid-column: 1/ span end;
}