@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(to right, #dbd7f5 0%, #a3a3a3 50%, #fbfcfd 99%);
    margin: 0;
    padding: 0;
}

/* nav {
    background: #09689e;
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    transition: all 0.5s ease 0s;
}

nav:after {
    content: "";
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #09689e;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 100%;
    float: none;
    display: list-item;
    border-bottom: 1px solid #09679ea8;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

.show,
.icon,
input {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    .show+a,
    ul {
        display: none;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    nav ul ul ul li {
        position: static;
    }
    [id^="btn"]:checked+ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: "\f00d";
    }
} */


/* header {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
} */

/* header */




/* main content */
.intro{
    display: grid;
    background: rgba(44, 44, 155, 0.514);
    border: 2px solid rgba(44, 44, 155, 0.514);
    border-radius: 10px;

    color: cornsilk;

    margin: 20px;
    padding: 20px;
}

.intro h1{
    font-size: 50px;
    font-family: sans-serif;

    color: black;
}

.wrapper{
    display: grid;

    grid-template-columns: 70% 30%;
    grid-gap: 10px;

    grid-auto-rows: auto;

    margin-top: 20px;
    margin: 20px;
    padding: 0;
}

.form{
    font-family: "Roboto", sans-serif;
    width: 650px;
    margin: 30px auto;
    background: linear-gradient(to right, #0a31ccce 0%, #0c158bb8 50%, #0a31ccce 99%);
    border-radius: 10px;
}

.fomr-header{
    background-color: #EFF0F1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.fomr-header h1{
    font-size: 30px;
    text-align: center;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.form-body{
    color: #666;
    padding: 10px 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.form-body .label-title{
    color: #1BBA93;
    font-size: 17px;
    font-weight: bold;
}

 
.form-body .form-input{
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
   background-color: whitesmoke;
   outline: none;

}


/* #right{
    float: left;
    width: 49%;
}

#{
    float: right;
    width: 49%;
} */

input[type="file"]{
    outline: none;
    cursor: pointer;
    font-size: 17px;
}


#submit{
    margin: 30px;

    background: #333;
    border: 1px solid #333;

    border-radius: 10px;
    padding: 10px;

    color: antiquewhite;
}

#submit:hover{
    transform: scale(1.11);
    transition: all .5s ease;
}

.contacts{
    margin-top: 20px;
    padding: 10px;

    border-radius: 10px;
    background: #666;

    border: 2px solid #666;

    margin-right: 20px;

    height: auto;
}


.contacts ul{
    list-style: none;

}

.contacts ul li a{
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
}

.contacts ul li h3{
    font-size: 30px;
}

