* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background: #dedede;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-top: 200px;
}

.alumni-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.05em;
    text-align: left;
    width: 100%;
    margin-top: 150px;
}

.alumni-container>div {
    background: #eee;
    padding: 0.5em;
}
.alumni-container h3{
    text-align: center;
    font-family: 'courier', sans-serif;
    font-size: 1.5em;
}


.alumni-container>div:nth-child(odd) {
    background: #ddd;
}

.alumni-container .box1 {
    grid-row: 1;
    grid-column: 1 / span end;
}

.alumni-container .box2 {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span end;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-gap: 0.5em;
}

.alumni-container .box2 .box2-1 {
    grid-row: 1;
    grid-column: 1/3;
    padding: 20px;
    font-size: 1.7em;
}

.alumni-container .box2 .box2-2 {
    grid-row: 1;
    grid-column: 3 / span end;
}

.alumni-container .box2-2 button {
    background: darkblue;
    border-radius: 15px;
    font-size: 1.2em;
    color: white;
    position: relative;
    top: 30%;
}


.alumni-container.box2-2 button :hover {
    transform: scale(1.3);
    cursor: pointer;
    background: rgba(0, 0, 139, 0.8);
}

.alumni-container .box3 {
    grid-row: 3;
    grid-column: 1 / span end;
    background: navy;
}
.alumni-container .box3 h3{
    font-size: 1.7em;
    text-transform: uppercase;

}