* {
    margin: 0;
    padding: 0;
}

main {
    max-height: auto;
    background-position: center;
    background-size: cover;
    margin: 0;
}


/* main content */

.all-content {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1em;
    display: relative;
    margin-top: 120px;
    /* background: rgb(159, 204, 248); */
}

.all-content .mvo {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    margin: 20px;
    padding: 20px;
}

.all-content .mvo .mvo-content {
    background: rgba(36, 60, 95, 0.678);
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.all-content .mvo .mvo-content:hover {
    transform: scale(1.15);
    transition: all 1s ease;
    background: rgba(118, 3, 37, 0.685);
}

.all-content .mvo .mvo-content h3 {
    font-size: 50px;
    color: #00ff37;
    background: transparent;
    margin: 20px;
}

.all-content .mvo .mvo-content p {
    font-size: 30px;
    margin: 20px;
    color: #f1d4fa;
}

.all-content .history {
    color: #f1d4fa;
    display: grid;
    grid-gap: 1em;
    background: rgba(3, 12, 54, 0.575);
    margin: 20px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
}

.all-content .history h2 {
    color: #00ff37;
    font-size: 50px;
    text-align: center;
}

.all-content .history p {
    font-size: 20px;
}

.all-content .principal-msg h1 {
    color: #00ff37;
    font-size: 50px;
    text-align: center;
}

.all-content .principal-msg {
    display: grid;
    grid-template-columns: 20% 80%;
    background: #3a38382d;
}

.all-content .principal-msg img {
    width: 100%;
    height: 50;
    border-radius: 50%;
}

.all-content .principal-msg h3 {
    color: #ffffff;
    font-size: larger;
    text-align: center;
}

.all-content .principal-msg .msg {
    background: #c6c4c7be;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

.all-content .principal-msg .msg p {
    margin: 20px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}