*{
    margin: 0;
    padding: 0;
}

header{
    background: #f44336;
    height: 100px;

    position:sticky;
    top: 0;


}

main{
    height: auto;
background: #ffff;    /* background-size: cover; */
    background-position: center;
}

.row{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;

    background: rgba(122, 124, 156, 0.631);
}

.summary{
    margin: 10px;
    /* background: rgba(240, 240, 240, 0.7); */
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 70px #bebebe, -6px -6px 70px #ffff;
}


.table-col{
    width: 50%;
    border-radius: 6px;
    background: linear-gradient(145deg, #535559, #a4b2ca);
    box-shadow: inset 5px 5px 18px #51545a, inset -5px -5px 18px #98beff;
    margin: 20px;
    

}

table{
    width: 100%;
}

table tr{
    text-align: center;
}

/* principal remarks*/
.remarks{
    background: rgba(90, 92, 114, 0.179);
    margin: 30px;
    padding: 10px;border-radius: 10px;
    /* box-shadow: 18px 18px 35px #40454d, -18px -18px 35px #b8c5db; */
}


/* highlights slider */

.row3{
    margin:100px;
    margin-left: 200px;
}
.highlights-slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    justify-content: center;
}

.sliders{
    width: 500%;
    height:500px;
    display: flex;
}

.sliders input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* manual slide nnavigation */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px ;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}


.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/* automatic navigation */

.navigation-auto{

    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}


.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 0.8s;
}


.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
    
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
    
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
    
}
#radio4:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
    
}






/* footer section */

.main-wrap{
    width: 100%;
    background: #ffff;
}

.footer-wrap{
    position: relative;
    margin-top: 0px; /*edit when fiting into the project*/

    width: 100%;
    padding: 0px;

    background:#061422;


}

.subscribe{
  width:100%;
  display: inline-flex;
  padding: 10px 35px;
} 

.subscribe h1{
  margin: 5px;
  padding: 0px;
  color: #09689E;
}

.subscribe p{
  margin: 5px;
  padding: 10px;
  color:chartreuse;
}

.subscribe form{
  position: relative;
}

.subscribe form input{
  position: relative;
  height: 35px;
  width: 320px;
  margin: 10px 0px;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;

  border-radius: 4px;
}

.subscribe form .btn{
  height: 35px;
  background: rgb(79, 156, 69);

  border: none;
  padding: 0px 6px;
  margin: 8px 0px;
  position: relative;
  left: 20%;
  font-weight: 600;
  cursor: pointer;
  color: #ffff;

  border-radius: 7px;
}

 .subscribe .btn:hover{
  color: aqua;

  transform: scale(1.2);
  
}
.footer-wrap-1{
    display: flex;
}

.footer-section{
    width: 22%;
    display: block;
    padding: 10px 35px;

}

.footer-section:last-of-type{
    width: 34%;
}


.footer-section h1{ 
    font-size: 22px;
    color: #ffff;
    margin-bottom: 8px;

}

.footer-section a{
    color: #ffff;

    display: block;
    text-decoration: none;
    padding: 4px 0;
}

.footer-section p{
  color: #ffff;
  font-size: 16px;
}

/*  */


.btn:hover{
    background: rgb(107, 204, 94);
}


.social-media{
  text-decoration: none;

  height: 26px;
  display:inline-flex;
  width: 26px;
  padding: 5px;
  border-radius: 5px;

  margin: 10px;
  background: rgb(240, 222, 222);
}

.social-media a{
  width: 14px;
  height: 14px;

  margin: 5px 5px 5px 5px;
}


h4{
  font-family: fantasy;
  font-size: 10px;
  font-style: italic;
}

h4 a:hover{
  color: greenyellow;
}

.mini-gallery{
  height: 80px;
  width: 80px;
}

.img-row{
  display: flex;
}

.img-col{
  margin: 2px;

}
.img-col a{
  margin: 2px;

}

.img-col a img{
  border-radius: 5px;
}

.img-col a:hover{
  transform: scale(2.0)
}AQAZ