.wrapper{
	display:grid;
	/*grid-template-columns: 1fr 2fr 1fr;*/
	grid-template-columns: repeat(3, 1fr);
	/*grid-column-gap: 1em;
	grid-row-gap: 1em;*/
	grid-gap: 1em;
	/*grid-auto-rows: 100px;*/
	grid-auto-rows: minmax(100px, auto); /*flexible height*/
}
.wrapper > div{
	background: #eee;
	padding: 1em;
}

.wrapper > div:nth-child(odd){
	background: #ddd;
}
.nested {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-auto-rows: 70px;*/
	grid-auto-rows: minmax(70px, auto);
	grid-gap: 1em;

}
.nested > div{
	border: #333 1px solid;
	padding: 0.5em;
}