@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
  background: #dedede;
  margin: 0;
  padding: 0;
}

#logo {
  width: 100px;
  cursor: pointer;
 }

#container {
  position: sticky;
  position: -webkit-sticky;
  transition: all 0.5s ease 0s;
  height: 12%;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0px;
  background-color: #09689E;
}

nav {
  flex: 1;
  text-align: right;
  float: right;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}
nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
} 
nav ul li {
  display:inline-block;
  background-color: #09689E;
  text-align: left;
}
nav a {
  display:block;
  padding:0 10px; 
  color:#fff;
  font-size:20px;
  line-height: 30px;
  text-decoration:none;
}
nav a:hover { 
  background-color: #002e5b;  
}
.dropdown-content{
  color: blue;
}

nav ul ul {
  display: none;
  position: absolute; 
  top: 30px; /* the height of the main nav */
}
nav ul li:hover > ul {
  display:inherit;
}
nav ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers */
nav  ul ul ul li {
  position: relative;
  top:-60px; 
  left:170px;
}
​
  
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

.menu-icon {
  width: 150px;
  cursor: pointer;
  margin-left: 50px;
}



