* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background: #dedede;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-top: 200px;
}

.article-section {
    margin: 0;
    padding: 0;
    background: #dedede;
    margin-top: 160px;
}

.article-section h2 {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

.article-section .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-gap: 1em;
    width: 100%;
}

.article-section .wrapper>div {
    background: #09689e;
    padding: 1em;
}

.article-section .wrapper>div:nth-child(odd) {
    background: #09689e;
}

.article-section .nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px auto);
    grid-gap: 1em;
}

.article-section .nested>div {
    border: #333 1px solid;
    padding: 1em;
    border-radius: 5px;
}

.article-section .box-1 {
    /*align-self: start;*/
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    justify-items: center;
}

.article-section .box-2 {
    /*align-self: end;*/
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    justify-items: center;
}

.article-section .box-3 {
    /*justify-self: end;*/
    grid-column: 1/2;
    grid-row: 2;
    display: grid;
    justify-items: center;
}

.article-section .box-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    justify-items: center;
}

.article-section .box-5 {
    display: grid;
    justify-items: center;
}

.article-section .box-6 {
    display: grid;
    justify-content: center;
}

.article-section .box-6 img {
    width: 100%;
    height: 75%;
}

.article-section .active p:hover {
    background-color: transparent;
    color: #f8f7ff;
    cursor: pointer;
    transition: all 1s ease;
    border-color: #333;
}


/* start of other news*/

.article-section h4 {
    text-align: center;
    font-size: 16px;
    font-family: cursive;
}

.article-section .wrapper-1 {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-gap: 1em;
    width: 85%;
}

.article-section .wrapper-1>div {
    background: lightgray;
    padding: 1em;
}

.article-section .wrapper-1>div:nth-child(odd) {
    background: #09689e;
}

.article-section .nested-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px auto);
    grid-gap: 1em;
}

.article-section .nested-1>div {
    border: #333 1px solid;
    padding: 1em;
    border-radius: 5px;
}

.article-section .other-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.article-section .wrapper-1 .nested-1 .active {
    display: grid;
    justify-items: center;
}

.article-section .read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    width: 80%;
}

.article-section .read-more a {
    text-decoration: none;
    color: #fff;
}

.article-section .read-more:hover {
    transform: scale(1.05);
    color: #047ebf;
}

.article-section .box-6 a {
    align-items: center;
    text-decoration: none;
}

.article-section button {
    background-color: orange;
    color: green;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    align-items: center;
    font-weight: 1000;
}

.article-section button:hover {
    transform: scale(1.05s);
    transition: all ease 1s;
    background-color: rgba(255, 165, 0, 0.8);
    border: transparent;
    border-radius: 10px;
}